extends layout

block content
  div.videoWrapper
    video(id="local_video"  src=src playsinline poster="/images/poster2.png")



    div.playWr(id="playWr")
      <svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Desktop-HD" transform="translate(-1017.000000, -374.000000)" fill="#19bb4f" fill-rule="nonzero">
      <g id="Group" transform="translate(961.000000, 327.000000)">
      <g id="ic-outline-play-circle-outline" transform="translate(30.000000, 38.000000)">
      <g id="Icon">
      <path d="M46,46 L61,34.5 L46,23 L46,46 Z M51,9 C37.2,9 26,20.2 26,34 C26,47.8 37.2,59 51,59 C64.8,59 76,47.8 76,34 C76,20.2 64.8,9 51,9 Z M51,54 C39.975,54 31,45.025 31,34 C31,22.975 39.975,14 51,14 C62.025,14 71,22.975 71,34 C71,45.025 62.025,54 51,54 Z" id="Icon-Shape"></path>
      </g>
      </g>
      </g>
      </g>
      </g>
      </svg>
    script.
      var currLAng='!{lang}';
      var anotherLang="ENG";
      if(currLAng==='ENG')
        anotherLang="RUS";
    div.langBtn(onclick="document.location.href='/'+anotherLang ")
      span
        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop-HD" transform="translate(-1089.000000, -370.000000)" fill="#ffffff" fill-rule="nonzero">
        <g id="Group" transform="translate(961.000000, 327.000000)">
        <g id="ic-outline-play-circle-outline" transform="translate(45.000000, 20.000000)">
        <g id="Icon">
        <g id="ic-round-language" transform="translate(81.000000, 21.000000)">
        <g id="Icon">
        <path d="M11.99,2 C6.47,2 2,6.48 2,12 C2,17.52 6.47,22 11.99,22 C17.52,22 22,17.52 22,12 C22,6.48 17.52,2 11.99,2 Z M18.92,8 L15.97,8 C15.6570216,6.76145777 15.1935734,5.56589587 14.59,4.44 C16.414114,5.0680023 17.9511688,6.33172395 18.92,8 Z M12,4.04 C12.83,5.24 13.48,6.57 13.91,8 L10.09,8 C10.52,6.57 11.17,5.24 12,4.04 Z M4.26,14 C4.1,13.36 4,12.69 4,12 C4,11.31 4.1,10.64 4.26,10 L7.64,10 C7.56,10.66 7.5,11.32 7.5,12 C7.5,12.68 7.56,13.34 7.64,14 L4.26,14 Z M5.08,16 L8.03,16 C8.35,17.25 8.81,18.45 9.41,19.56 C7.58396804,18.9354318 6.04583277,17.6708217 5.08,16 Z M8.03,8 L5.08,8 C6.04583277,6.32917828 7.58396804,5.06456821 9.41,4.44 C8.8064266,5.56589587 8.34297845,6.76145777 8.03,8 Z M12,19.96 C11.17,18.76 10.52,17.43 10.09,16 L13.91,16 C13.48,17.43 12.83,18.76 12,19.96 Z M14.34,14 L9.66,14 C9.57,13.34 9.5,12.68 9.5,12 C9.5,11.32 9.57,10.65 9.66,10 L14.34,10 C14.43,10.65 14.5,11.32 14.5,12 C14.5,12.68 14.43,13.34 14.34,14 Z M14.59,19.56 C15.19,18.45 15.65,17.25 15.97,16 L18.92,16 C17.9511688,17.668276 16.414114,18.9319977 14.59,19.56 Z M16.36,14 C16.44,13.34 16.5,12.68 16.5,12 C16.5,11.32 16.44,10.66 16.36,10 L19.74,10 C19.9,10.64 20,11.31 20,12 C20,12.69 19.9,13.36 19.74,14 L16.36,14 Z" id="Icon-Shape"></path>
        <rect id="Icon-Rectangle-path" fill-opacity="0" x="0" y="0" width="24" height="24"></rect>
        </g>
        </g>
        </g>
        </g>
        </g>
        </g>
        </g>
        </svg>
      span=lang
  script console.log("!{src}")
  script(src='/javascripts/mainScript.js')
